/* 盒子模块 */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.showbox {
    height: 252px;
    width: 1200px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 200px auto;
}

.showbox li {
    position: relative;
    height: 250px;
    width: 350px;
}

.showbox li img {
    width: 100%;
}

.showbox li .text {
    position: absolute;
    bottom: -40px;
    padding: 20px 30px;
    transition: all 1s;
}

.showbox .text h3 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 2em;
}

.showbox .text h4 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 1.5em;
    margin-bottom: 40px;
}

.showbox .text p {
    font-size: 14px;
    color: #fff;
}

.showbox li:hover .text {
    transform: translateY(-40px);
}