 * {
     margin: 0;
     padding: 0;
 }
 
 .w {
     width: 1240px;
     margin: auto;
 }
 
 .clearfix::after {
     content: "";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
 }
 
 a {
     text-decoration: none;
     font-style: normal;
 }
 
 li {
     /* display: inline-block; */
     list-style: none;
 }
 
 body {
     /* height: 3200px; */
     background-color: #ffffff;
 }
 /* begin */
 
 .head,
 .navlist {
     height: 52px;
     background: #333333;
 }
 
 .navlist li {
     float: right;
 }
 
 .navlist li a {
     font-size: 14px;
     color: #dcdcdc;
     height: 52px;
     line-height: 52px;
     padding: 0 16px;
     border-right: 1px solid #585858;
 }
 
 .navlist li .phone {
     display: inline-block;
     background: url('images/sprites.png') no-repeat -151px -64px;
     width: 20px;
     height: 30px;
     vertical-align: middle;
     margin-left: 5px;
     margin-right: 0;
 }
 
 .navlist li .navlast {
     padding-left: 10px;
     border: none;
 }
 /* nav */
 
 .nav {
     height: 130px;
     background-color: #ffffff;
 }
 
 .logo,
 .leadlist,
 .search {
     float: left;
     /* display: inline-block; */
 }
 
 .logo a {
     display: inline-block;
     /* border: 1px solid red; */
     width: 230px;
     height: 130px;
     background: url('images/logo.png') no-repeat center center /90%;
 }
 
 .leadlist li {
     float: left;
     text-align: center;
     margin: 0 25px;
 }
 
 .leadlist li a {
     float: left;
     margin: 55px 0;
     font-size: 16px;
     color: #333333;
     padding-bottom: 7px;
 }
 
 .leadlist li a:hover {
     color: #27ba9b;
     border-bottom: 1.5px solid #27ba9b;
 }
 
 .search {
     position: relative;
     margin-top: 55px;
     margin-left: 20px;
     height: 30px;
     width: 200px;
     color: #ffffff;
     box-shadow: 3px 2px 3px 0px rgba(0, 0, 0, 0.1);
 }
 
 .search input {
     display: inline-block;
     margin-left: 30px;
     border: none;
     outline: none;
     list-style: none;
     height: 29px;
     width: 172px;
     font-size: 14px;
     color: #cccccc;
 }
 
 .search::before {
     content: "";
     position: absolute;
     width: 28px;
     height: 28px;
     left: 0;
     top: 0;
     background: url('images/sprites.png') no-repeat -76px -67px;
 }
 
 .gwcar {
     position: relative;
     display: inline-block;
     margin-top: 55px;
     margin-left: 15px;
     width: 30px;
     height: 30px;
     background: url('images/sprites.png') no-repeat -117px -65px;
 }
 
 .gwcar span {
     position: absolute;
     display: inline-block;
     width: 18px;
     height: 14px;
     right: 0;
     top: 0;
     border-radius: 7px;
     background-color: red;
     font-size: 12px;
     color: #fff;
     text-align: center;
 }
 /* show */
 
 .show {
     /* position: absolute; */
     height: 500px;
     background-color: #dcdcdc;
 }
 
 .showbox {
     position: relative;
     height: 500px;
     background: url('uploads/banner_1.png');
 }
 
 .shownav {
     position: absolute;
     background-color: rgba(0, 0, 0, .8);
     float: left;
     height: 500px;
     width: 250px;
 }
 
 .shownav ul {
     position: relative;
 }
 
 .shownav li {
     position: relative;
     height: 50px;
 }
 
 .shownav a::after {
     content: "";
     position: absolute;
     width: 12px;
     height: 15px;
     top: 18px;
     right: 18px;
     background: url('images/sprites.png') no-repeat 0px -109px;
 }
 
 .shownav a {
     height: 50px;
     line-height: 50px;
     margin-left: 30px;
     font-size: 16px;
     color: #fff;
 }
 
 .shownav li:hover {
     background-color: #27ba9b;
 }
 
 .btl {
     position: absolute;
     width: 44px;
     height: 44px;
     border-radius: 22px;
     left: 260px;
     top: 240px;
     background: url('images/sprites.png') no-repeat 13px -60px;
     background-color: rgba(0, 0, 0, .4);
 }
 
 .btr {
     position: absolute;
     width: 44px;
     height: 44px;
     border-radius: 22px;
     top: 240px;
     right: 10px;
     background: url('images/sprites.png') no-repeat -23px -60px;
     background-color: rgba(0, 0, 0, .4);
 }
 /* floor */
 
 .floor {
     background-color: #333;
 }
 
 .floor .big-link {
     height: 171px;
     border-bottom: 1px solid #585858;
     vertical-align: middle;
     text-align: center;
 }
 
 .floor .big-link li {
     /* position: relative; */
     /* float: left; */
     vertical-align: middle;
     height: 171px;
     text-align: center;
     float: left;
 }
 
 .floor .big-link li a {
     height: 171px;
     display: inline-block;
     width: 413.29px;
     line-height: 171px;
     font-size: 28px;
     color: #fff;
     text-align: center;
 }
 
 .floor .big-link li a::before {
     content: "";
     display: inline-block;
     width: 58px;
     height: 58px;
     vertical-align: middle;
     margin-right: 19px;
     background: url('images/sprites.png') no-repeat 0 0;
 }
 
 .floor .big-link li:nth-child(2) a:before {
     background-position: -131px 0;
 }
 
 .floor .big-link li:nth-child(3) a:before {
     background-position: -65px 0;
 }
 
 .bottom-floor {
     margin-top: 41px;
     height: 169px;
     text-align: center;
 }
 
 .bottom-floor li {
     display: inline-block;
 }
 
 .bottom-floor li a {
     border-right: 1px solid #999;
     padding-right: 8px;
     font-size: 14px;
     color: #999;
 }
 
 .bottom-floor li .lastend {
     border-right: none;
 }
 
 .bottom-floor h3 {
     margin-top: 12px;
     list-style: none;
     font-size: 14px;
     font-weight: 400;
     color: #999;
 }
 
 .twoshow {
     margin-top: 70px;
     margin-bottom: 70px;
 }
 
 .customer,
 .aboutus,
 .download,
 .phone {
     float: left;
     width: 24.9%;
     height: 192px;
     /* border: 1px solid red; */
     text-align: center;
 }
 
 .download {
     border-right: 1px solid #cccccc;
 }
 
 .customer>dt,
 .aboutus>dt,
 .download>dt,
 .phone>dt {
     height: 51px;
     font-size: 16px;
     color: #999;
 }
 
 .customer dd,
 .aboutus dd,
 .download dd {
     display: inline-block;
     margin-right: 6px;
     width: 94px;
     height: 94px;
     border: 1px solid #eee;
 }
 
 .customer dd:nth-child(2)::before {
     content: "";
     display: block;
     width: 29px;
     height: 27px;
     margin: 22px auto 10px;
     background: url('images/sprites.png') no-repeat -205px -70px;
 }
 
 .customer dd:nth-child(3)::before {
     content: "";
     display: block;
     width: 29px;
     height: 27px;
     margin: 22px auto 10px;
     background: url('images/sprites.png') no-repeat -300px -70px;
 }
 
 .aboutus dd:nth-child(2)::before {
     content: "";
     display: block;
     width: 40px;
     height: 30px;
     margin: 22px auto 10px;
     background: url('images/sprites.png') no-repeat -204px -14px;
 }
 
 .aboutus dd:nth-child(3)::before {
     content: "";
     display: block;
     width: 40px;
     height: 30px;
     margin: 22px auto 10px;
     background: url('images/sprites.png') no-repeat -300px -14px;
 }
 
 .download dd:nth-child(2) {
     padding: 7px;
     width: 116px;
     height: 116px;
     padding: 7px;
     margin-right: 22px;
     box-sizing: border-box;
     vertical-align: top;
     /* text-align: center; */
 }
 
 .download dd:nth-child(3) {
     border: none;
 }
 
 .download dd {
     display: inline-block;
 }
 
 .download dd img {
     width: 100px;
     height: 100px;
 }
 
 .download dd p {
     font-size: 14px;
     /* height: 22px; */
     /* margin-top: 13px; */
     margin-top: 4px;
     color: #999;
     float: left;
 }
 
 .download dd a {
     margin-top: 25px;
     ;
     vertical-align: bottom;
     display: inline-block;
     width: 103px;
     height: 32px;
     color: #fff;
     background-color: #27ba9b;
     text-align: center;
     line-height: 32px;
 }
 
 .phone dd p:nth-of-type(1) {
     font-size: 22px;
     color: #666;
 }
 
 .phone dd p:nth-of-type(2) {
     margin-top: 10px;
     font-size: 14px;
     color: #999;
 }